<%- include("partials/header"); -%>

<%if(newsList.length === 0){%>
    <h1>No Posts Yet</h1>
    <%}else{%>
        <%newsList.forEach(function(element){%>
            <!-- <p><%=element.source.name%></p><br> -->
            <h1><%=element.title%></h1> 
            <p><%=element.description%> </p>  <br>
            <p><%=element.url%></p><br>
            <p><%=element.address%> </p>  <br>
            <p><%=element.phone%> </p>  <br>
            <p><%=element.dob%> </p><br>

            
           
        <%});%>
    <%}%>

<%- include("partials/footer"); -%>